{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'CSS/index.css' %}" rel="stylesheet">

<title>Test Server</title>
</head>
<body>
<div class=".container-fluid card" style="padding: 20px; border-radius: 0px;">
    <h1 style="text-align: left;width: fit-content;">{{ data }}</h1>
    <div class="container" style="text-align: right;margin-right: 0px; width: fit-content;vertical-align: top;margin-top: -50px; ">
<div class="btn-group " >
    <a href="/admin" class="btn btn " aria-current="page" id="top-button">Admin</a>
    <a href="#" class="btn btn" id="top-button">Profile</a>
    <a href="#" class="btn btn" id="top-button">Network</a>
  </div> 
  </div>
</div>
<div class="container-fluid" style="margin-top: 1px;;">
    <div class="row" >
    <div class="col-sm-3 m-1 card" >
<form class="row g-3 needs-validation p-2 m-3 card_2 " novalidate  enctype="multipart/form-data"  method="POST" action="/apppage/home/upload_file" style=" border-radius: 10px;">
   {% csrf_token %}
  <div class="col-md-4 ">
    <label for="validationCustom01" class="form-label">Upload File</label>
    <input type="file" class="" name="File">
   

  </div>
 
  <div class="col-12" >
    <button class="btn btn-primary " type="submit" style="width: 100%;">Get Results</button>
  </div>
 

</form>
<div class="row m-3 p-2 card_2">

  <div class="col-6">
    <button class="btn btn-primary " style="width: 100%;" type="button" onclick="PrintDoc()">Print</button>
  </div>
  <div class="col-6">
    <button class="btn btn-primary " style="width: 100%;" type="button">Save Session</button>
  </div>


</div>
<div class="row m-3 p-2 card_2" >

  <div class="col-12" style=" height:350px; ">
    <button class="btn btn-primary p-2" type="button" style=" width: 100%; ">Connect</button>
  </div>

  
  


</div>
        </div>
   
     
     



